@model app.Models.MovieViewModel

@{
    Layout = "_LayoutShop";
}

<section id="moviedetails">
    <img src="@Model.Url" alt="@Model.Title"
        title="@Model.Title">
    <div>
        <h2>
            @Model.Title
        </h2>
        <div>
            <form method="post" action="">
                <div class="info">
                    <input type="hidden" name="movieId" value="@Model.Id" />
                    <input type="submit" value="Order" name="Order" id="orderButton" />
                </div>
                <br />
                <p><span>Rating <strong>@Model.Rating</strong></span></p>
                <p><span>Genre <strong>@Model.Genre</strong></span></p>
                <p><span>Year <strong>@Model.Year</strong></span></p>
                <p><span>Plot <strong>@Model.Plot</strong></span></p>
                <p><span>Actors:
                        @foreach (var actor in Model.Actors)
                        {
                            <strong>@actor</strong>
                        }
                    </span>
                </p>
            </form>
        </div>
</section>